
/* POPPINS FONTS FROM GOOGLE START  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* POPPINS FONTS FROM GOOGLE END */

/* GLOBAL DESIGN START  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
/* GLOBAL DESIGN END */

/* NAV DESIGN START  */
nav ul a{
    color: #1E1E1E !important;
}

nav ul a.products,
nav ul a.contacts{
    color: rgba(30, 30, 30,.5) !important;
}

nav ul a.products:hover,
nav ul a.contacts:hover{
    color: rgba(30, 30, 30,1) !important;
    transition: .3s all;
}
/* NAV DESIGN END */

/* HERO DESIGN START  */
.hero{
    background: #C1DCDC;
    height: 52rem;
}

.hero h1{
    font-size:6.4rem ;
    white-space: nowrap;
}

.plant-number{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
}

.plant-number span{
    font-size: 3.2rem;
    line-height: 4.8rem;
}

.plant-number .vertical-line{
    height: 6rem;
    width: .2rem;
    background:#1E1E1E;
}

.input-container{
    position: relative;
}

.input-container .bi-search{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: #C1DCDC;
    padding: 1rem 1.4rem;
    border-radius: 20%;
    display: inline-block;
}


.hero input::placeholder{
    color: rgba(30, 30, 30,.5);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
}


.custom-right{
    position:absolute;
    right: 0rem;
    bottom: 0;
    width: 64rem;
}

/* HERO DESIGN END */
/*BEst selling strat*/
.btn a{
    text-decoration: none;
    color: black;
    background-color: #C1DCDC;
}
.col-lg-3 p:last-child{
    color:silver
}
.col-lg-4 p{
    color:silver ;
}
/*Best selling End*/

/* FOOTER DESIGN START  */
footer{
    background: #C1DCDC;
    color: #1E1E1E;
}

footer a{
    color: #1E1E1E;
}

.left-side.logo-and-social-icons > h3{
    color: #000000;
}

.left-side.logo-and-social-icons > p{
    opacity: .5;
}

.social-icons{
    opacity: .75;
}

.social-icons a{
    border-color: rgba(30, 30, 30,.75) !important;
    cursor: pointer;
    border: 1px solid rgba(30, 30, 30,.75) ;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a:hover{
    background: #ffffff;
    border: 1px solid #ffffff !important ;
}

/* FOOTER DESIGN END */